<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://kit.fontawesome.com/0f3818402f.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilos2.css">
    <link rel="stylesheet" href="/css/estilosFooter.css">
</head>
<body>
    <header class="header"> 
        <div class="menu">
            <div class="logo">
                <img src="/images/logo.jpg" alt="logo">
            </div>

            <div class="form" action="#" method="GET">
                <div class="input">
                    <input type="text" name="searchbar" placeholder="Qué estás buscando?">
                    <div class="lupa">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="nav">
                <nav>
                    <ul>
                        <li><a href="/logreg">Ingresa</a></li>
                        <li><a href="#">Registrate</a></li>
                        <li><a href="/carrito">Carrito</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </div>

        </div>
        
        <div class="submenu">
            <nav>
                <ul>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <div class="carrito">
            <div class="textoCarro">
            <h2>CARRITO DE COMPRAS</h2>
            </div>
            
            <div class="vl"></div>

            <div class="CarroForm">
                <div class="contenedorpapi">
                <div class="contenedor">

            
                <img width="15%" src="/images/mochirobo.jpg" alt="Mochila antirobo">
            
                
                    <div class="fotoDes">
                    <p> nuevo | 147 vendidos </p>
                    <h4>Mochila Antirrobo Urbana Impermeable Con Usb Laptop 15,6</h4>
                    <p>20 opiniones</p>
                    <h3> 3500$ </h3>
                    <p>Ver los medios de pago</p>
                    
                    

                    </div>

                    

                    </div>
                    
                    
                </div>
                

                <div class="linea"></div>

                <div class="botonetes">
                    <input class="boton" type="submit" value="Actualizar carrito">
                    <input class="boton" type="submit" value="Confirmar compra">
                </div>









            </div>

        

















        </div>





    </main>
    <footer>
        <div class="contFooter">
            <div class="redes">
                <h4 class="title1">Contact Us</h4>
                <ul class='logRedes'>
                    <li><a class="fb" href="facebook.com/HarasBags" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="twtr" href="twitter.com/HarasBags" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a class="ig" href="instagram.com/HarasBags" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <nav class="lowBar">
                <ul>
                    <li class="title1">
                        <a class="infoIcon" href="/info" target="_blank">
                            About Us
                            <i class="fas fa-suitcase"></i>
                        </a>
                    </li>
                    <li class="title1">
                        <a class="infoIcon" href="/info" target="_blank">
                        Newsletter
                        <i class="far fa-newspaper"></i>
                    </a>
                </li>
                    <li class="title1">
                        <a class="infoIcon" href="/info" target="_blank">
                            Customer Service
                            <i class="fas fa-wrench"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="disclaimer">
                <span>Copyright © 2020-2021 harasBags Ltd. </span>
            </div>
        </div>
    </footer>


</body>
</html>