<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0f3818402f.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilosFooter.css">
</head>
<body>
    <footer>
        <div class="contFooter">
            <div class="redes">
                <h4 class="title1">Contact Us</h4>
                <ul class='logRedes'>
                    <li><a class="fb" href="facebook.com/HarasBags" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="twtr" href="twitter.com/HarasBags" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a class="ig" href="instagram.com/HarasBags" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="lowBar">
                <ul>
                    <li class="title1">About Us</li>
                    <li class="title1">Newsletter</li>
                    <li class="title1">Customer Service</li>
                </ul>
            </div>
            <div class="disclaimer">
                <span>Copyright © 2020-2021 harasBags Ltd. </span>
            </div>
        </div>
    </footer>
</body>
</html>