<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset=”UTF-8″ />
    <title>Haras Bags</title>
    <script src="https://kit.fontawesome.com/0f3818402f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/estilosFooter.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body> 
    <div class="padre">
    <header class="header"> 
        <div class="menu">
            <div class="logo">
                <img src="/images/logo.jpg" alt="logo">
            </div>

            <div class="form" action="#" method="GET">
                <div class="input">
                    <input type="text" name="searchbar" placeholder="Qué estás buscando?">
                    <div class="lupa">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="nav">
                <nav>
                    <ul>
                        <li><a href="/logreg">Ingresa</a></li>
                        <li><a href="#">Registrate</a></li>
                        <li><a href="#">Carrito</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </div>

        </div>
        
        <div class="submenu">
            <nav>
                <ul>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>

    </header>


<main>
    <section>
        <div class="contenedor">
            <img class="imgInicio" src="images/mochila2.jpg" alt="mochila">
            <p class="oferta"></p>
            <button class="texto">VER MÁS</button>
            <div class="opacity"></div>
        </div>
    </section>

    <section>
        <h2 class="productosDestacados">Productos Destacados</h2>
        <div class="destacados">
            <div class="productos">
                <img alt="imagen-mochila" src="images/mochila_adidas.jpg" class="img-mochila">
                <div class="textoProducto">
                    <p class="nombre">Mochila verde</p>
                    <p class="precio">$4000</p>
                </div>
            </div>
            <div class="productos">
                <img alt="imagen-mochila" src="images/mochila_adidas.jpg" class="img-mochila">
                <div class="textoProducto">
                    <p class="nombre">Mochila verde</p>
                    <p class="precio">$4000</p>
                </div>
                
            </div>
            <div class="productos">
                <img alt="imagen-mochila" src="images/mochila_adidas.jpg" class="img-mochila">
                <div class="textoProducto">
                    <p class="nombre">Mochila verde</p>
                    <p class="precio">$4000</p>
                </div>
                
            </div>
            <div class="productos">
                <img alt="imagen-mochila" src="images/mochila_adidas.jpg" class="img-mochila">
                <div class="textoProducto">
                    <p class="nombre">Mochila verde</p>
                    <p class="precio">$4000</p>
                </div>
                
            </div>
        </div>
        
    </section>
</main>



</div>
<footer>
    <div class="contFooter">
        <div class="redes">
            <h4 class="title1">Contact Us</h4>
            <ul class='logRedes'>
                <li><a class="fb" href="facebook.com/HarasBags" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="twtr" href="twitter.com/HarasBags" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a class="ig" href="instagram.com/HarasBags" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <nav class="lowBar">
            <ul>
                <li class="title1">
                    <a class="infoIcon" href="/info" target="_blank">
                        About Us
                        <i class="fas fa-suitcase"></i>
                    </a>
                </li>
                <li class="title1">
                    <a class="infoIcon" href="/info" target="_blank">
                    Newsletter
                    <i class="far fa-newspaper"></i>
                </a>
            </li>
                <li class="title1">
                    <a class="infoIcon" href="/info" target="_blank">
                        Customer Service
                        <i class="fas fa-wrench"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="disclaimer">
            <span>Copyright © 2020-2021 harasBags Ltd. </span>
        </div>
    </div>
</footer>
</body>
</html>

