<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://kit.fontawesome.com/0f3818402f.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/estilos1.css">

</head>
<body>
    <header class="header"> 
        <div class="menu">
            <div class="logo">
                <img src="/images/logo.jpg" alt="logo">
            </div>

            <div class="form" action="#" method="GET">
                <div class="input">
                    <input type="text" name="searchbar" placeholder="Qué estás buscando?">
                    <div class="lupa">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="nav">
                <nav>
                    <ul>
                        <li><a href="/logreg">Ingresa</a></li>
                        <li><a href="#">Registrate</a></li>
                        <li><a href="/carrito">Carrito</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </div>

        </div>
        
        <div class="submenu">
            <nav>
                <ul>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>

    </header>
    
    <main >
        <div class="inicia">
            <h3>Haras Bags</h3>
            <p>Inicia sesión o crea tu cuenta</p>
            
            </div>
    <div class="login">
        
        <div class="grupo">
            <h3>Conectate</h3>
           <form action="/" method="POST">
            
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input class="boton" type="submit" value="Conectate">
            </form>

            <p>¿Olvidaste tu contraseña?</p>
        </div>
        

        <div class="vl">

        </div>

        <div class="registrate">
            <h3>Registrate</h3>
            <form action="/" method="POST">
            
                <input type="text" name="user" placeholder="Dirección de Correo">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass" placeholder="Verifica tu contraseña">

                <p>Registrate y obten notificaciones de productos en descuento y muchas mas ofertas </p>

                <input class="boton" type="submit" value="Aceptar y continuar">
 

            </form>

           

            

        </div>

            
    </div>   
    </main>
    
    

</body>
</html>