*{
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
    font-weight: medium;
    box-sizing: border-box;
}
footer{
    background-color: #222;
}
.title1{
    text-align: center;
    margin: 1% auto;
    font-size: 3.7vw;
    font-weight: inherit;
    color: rgb(204, 197, 197);
}
div ul{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
}
div ul.logRedes{
    display: flex;
    justify-content: center;
}
div ul li{
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0% 0%;
    color: white;
    border-radius: 50%;
    font-size: 1.33em;
    padding: 1% 1%; 

}
div ul li a{
    color: white;
    border-radius: 50%;
    font-size: 22px;
    padding: 7px; 
}
div.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px 0px;
    color: rgb(125, 125, 125);
}
.fb{
    width: 1.2em;
    height: 1.2em;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 34px;
    color: #3b5998;
    font-size: 1.37em;
    text-align: center;
    line-height: 34px;
    background-color: none;
    transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
    margin: 0 100%;
}
.twtr{
    width: 1.2em;
    height: 1.2em;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 34px;
    color: rgb(29, 161, 242);
    font-size: 1.37em;
    text-align: center;
    line-height: 34px;
    background-color: none;
    transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
    margin: 0 100%;
}
.ig{
    width: 1.2em;
    height: 1.2em;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 34px;
    color: #C13584;
    font-size: 1.37em;
    text-align: center;
    line-height: 34px;
    background-color: none;
    transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
    margin: 0 100%;
}
.lowBar{
    display: flex;
    justify-content: space-around;
    margin: 7% auto 0 auto;
}
.disclaimer{
    text-align: center;
    margin: 1% auto;
    font-size: 2.2vw;
    font-weight: normal;
    color: #fff;
    padding: 1%;
}